@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-family:  'Roboto Condensed', sans-serif;
    margin: 0px;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-family:  'Seaweed Script', cursive;
}
.hero {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    flex: 1 1 auto;
    flex-wrap: wrap;
    padding: 25px;
    gap: 10px;
    text-align: center;
}
.hero img {
    width: 300px;
    height: auto;
    flex: 0 1 auto;
    filter: drop-shadow(10px 10px 4px black)
}
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 25px;
    gap: 20px;
}
.main div {
    font-weight: bold;
    font-size: 28px;
}
.main img {
    width: 100px;
    height: auto;
}
.squarewrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    gap: 10px;
}
.squarewrap div {
    flex: 1;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
}
.squarewrap div p {
    font-size: 12px;
}
.quote {
    background-color: #e5e7eb;
    text-align: center;
    font-style: italic;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}
.quote div {
    margin-left: 100px;
    margin-right: 100px;
    padding: 15px;
}
.quote p {
    font-weight: bold;
    text-align: right;
    margin: 0px;
}
.popup {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
    align-items: center;
    margin: 10px 100px 10px 100px;
    gap: 20px;
    border-radius: 5px;
    color: #f9faf8;
}

.popup h3,
.popup p {
    margin: 0px;
}
.call div {
    background-color: #3882f6;
}
.call button {
    background-color: #3882f6;
    border-style: solid;
    border-color: #f9faf8;
    border-radius: 5px;
    border-width: 1px;
    color: #f9faf8;
    padding-left: 20px;
    padding-right: 20px;
}
.footer {
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
    font-weight: bold;
    padding: 10px;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}
