@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-family:  'Roboto Condensed', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-family:  'Seaweed Script', cursive;
}
.hero {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    flex: 1 1 auto;
    flex-wrap: wrap;
}
.hero img {
    width: 300px;
    height: auto;
    flex: 0 1 auto;
}
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.main img {
    width: 100px;
    height: auto;
}
.squarewrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.squarewrap div {
    flex: 1;
}
.quote {
    background-color: #e5e7eb;
    text-align: center;
    font-style: italic;
    padding: 300px;
}
.quote p {
    font-weight: bold;
    text-align: right;
}
.call {
    background-color: #3882f6;
}
.footer {
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
    font-weight: bold;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}